@font-face {
  font-family: "HarmonyOSHans-Light";
  src: url("../fonts/HarmonyOSHans-Light.woff2") format("woff2");
}
:root {
  --vp-font-family-base:"HarmonyOSHans-Light", sans-serif; /* normal text font */
}
